name: Build and test

on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm]
        install: [true, false]
        neon: [--with-neon, --with-included-neon, --with-included-neon --with-ssl=openssl]
    steps:
    - uses: actions/checkout@v2
      with:
          submodules: recursive
    - run: sudo apt-get -o Acquire::Retries=5 update && sudo apt-get -o Acquire::Retries=5 -y install libneon27-dev
      if: contains(matrix.neon, 'included-neon') != true
    - run: ./autogen.sh
    - run: ./configure --prefix=/tmp/litmus-root ${{ matrix.neon }}
    - run: make
    - run: if ${{matrix.install}}; then make install; fi
    - run: ./litmus --version
    - run: ./litmus --help
